<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tapeACall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD1D9F0B1E08BFF9002BDF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1D9F1F1E08BFFA002BDF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1D9F2A1E08BFFA002BDF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
